certifi==2023.7.22
charset-normalizer==3.3.1
distlib==0.3.7
filelock==3.13.0
greenlet==3.0.1
idna==3.4
Languages==1.0.0
msgpack==1.0.2
pipenv==2023.10.24
platformdirs==3.11.0
psycopg2-binary==2.9.9
pytz==2023.3.post1
requests==2.31.0
signalrcore==0.9.5
SQLAlchemy==2.0.22
typing_extensions==4.8.0
urllib3==2.0.7
virtualenv==20.24.6
websocket-client==1.0.0
pre-commit==3.5.0